/*-- scss:defaults --*/

// IASI common layout
$grid-body-width: 2000px;

// IASI corporate palette
$iasi-quarto-blue: #39729e;
$navbar-bg: $iasi-quarto-blue;
$navbar-fg: #ffffff;


/*-- scss:rules --*/

// Common IASI rules will live here.
